.collection {
    display: flex;
    align-items: center;
    flex-direction: column;
    font: 20px/25px sans-serif;
    
}

.collection > p {
    /* font-size: 16px; */
    margin: 10px;
}

button {
    margin: 5px;
}

.in-row {
    display: flex;
    flex-direction: row;
}